// @import style

$color-dark-grey: #414146

*
	box-sizing: border-box

body
	font-family: 'Poppins', sans-serif

*
	padding: 0
	margin: 0

li
	list-style: none
	display: flex

a
	text-decoration: none

header
	background: #f6f6f6
	padding: 22px 0

.header-container
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    a
        color: #000000
        font-size: 16px
        padding: 27px 6px
        margin-right: 63px
        &:hover
            background: yellow

#menu-checkbox
    display: none

ul
    display: flex

.top-slide
    background: url(../img/top-slide-img.jpg) no-repeat
    padding-top: 120px
    padding-bottom: 120px
    h2 
        background: #ffea00
        display: inline-block
        font-size: 70px
        padding: 0 13px
    & :nth-child(2)
        margin-bottom: 10px
    p 
        background: $color-dark-grey
        display: inline-block
        font-size: 24px
        color: #ffffff
        padding: 0 13px
        margin-bottom: 3px

.top-container
    width: 85%
    margin: 0 auto

.specialize-container
    width: 80%
    margin: 0 auto
    text-align: center
    h3
        font-size: 32px
        text-transform: uppercase
        margin-top: 40px
    p 
        font-size: 24px
    .first-p
        font-size: 20px
        background: $color-dark-grey
        color: #ffffff

    .specialize-cards
        display: flex
        justify-content: space-between
        .card
            width: 200px
            .bottom-card
                position: relative
                top: -7px