extends _layouts/home

block content

	header
		.header-container
			.logo
				img(src="img/logo.png" alt="logo")
			input(type="checkbox" id="menu-checkbox")
			nav(role="navigation")
				label(for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick)
				ul.main-menu
					li: a(href="#") Home
					li: a(href="#") Portfolio
					li: a(href="#") Blog
					li: a(href="#") About Us
					li: a(href="#") Contact
	main
		section.top-slide
			.top-container
				div: h2 We Belive
				div: h2 In Quality Design
				div: p Lorem ipsum dolor sit amet.
				div: p Lorem ipsum dolor sit amet.
				div: p Lorem ipsum dolor sit amet.
		section.specialize
			.specialize-container
				h3 We create quality designs.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil?
				.specialize-cards
					.card
						.top-card
							img(src="img/cards/card-1.jpg", alt="Alt")/
						.bottom-card: p.first-p Lorem,
							br
							| ipsum dolor.
					.card
						.top-card
							img(src="img/cards/card-1.jpg", alt="Alt")/
						.bottom-card: p Lorem, ipsum dolor.
					.card
						.top-card
							img(src="img/cards/card-1.jpg", alt="Alt")/
						.bottom-card: p Lorem, ipsum dolor.
					.card
						.top-card
							img(src="img/cards/card-1.jpg", alt="Alt")/
						.bottom-card: p Lorem, ipsum dolor.