main.grid
    section.top-slide
        .top-container
            div: h2 We Belive
            div: h2 In Quality Design
            div: p Lorem ipsum dolor sit amet.
            div: p Lorem ipsum dolor sit amet.
            div: p Lorem ipsum dolor sit amet.
    section.specialize
        .specialize-container
            h3 We create quality designs.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil?
            .specialize-cards
                .card
                    .top-card
                        img(src="img/cards/card-1.jpg", alt="Alt")/
                    .bottom-card: p.first-p Lorem,
                        br
                        | ipsum dolor.
                .card
                    .top-card
                        img(src="img/cards/card-1.jpg", alt="Alt")/
                    .bottom-card: p Lorem, ipsum dolor.
                .card
                    .top-card
                        img(src="img/cards/card-1.jpg", alt="Alt")/
                    .bottom-card: p Lorem, ipsum dolor.
                .card
                    .top-card
                        img(src="img/cards/card-1.jpg", alt="Alt")/
                    .bottom-card: p Lorem, ipsum dolor.
    section.portfolio
        h4 Our Work
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, animi repudiandae officiis natus cupiditate accusantium!
        .toggles
            button#showall Show All
            button#webdev Web Development
            button#webdesign Web Design
            button#graphd Graphic Design
        .posts
            .post.webdev
                img(src="img/portfolio/portfolio-1.jpg", alt="Alt")
            .post.webdesign
                img(src="img/portfolio/portfolio-2.jpg", alt="Alt")
            .post.graphd
                img(src="img/portfolio/portfolio-3.jpg", alt="Alt")
            .post.webdev
                img(src="img/portfolio/portfolio-1.jpg", alt="Alt")
            .post.webdev
                img(src="img/portfolio/portfolio-2.jpg", alt="Alt")
            .post.webdesign
                img(src="img/portfolio/portfolio-3.jpg", alt="Alt")
            .post.webdev
                img(src="img/portfolio/portfolio-1.jpg", alt="Alt")
            .post.graphd
                img(src="img/portfolio/portfolio-2.jpg", alt="Alt")